<section ng-controller="PersonsListController" class="tables-data">
  <div class="mdl-color--teal ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Pesonas</h3>
      <h4 class="mdl-color-text--grey-100 m-b-20 no-m-t w100">Administre las personas que interactuan con su compañía</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3><i class=" material-icons f-left m-r-5">filter_list</i> Filtros</h3>
          <p>Utilize estos controles para filtrar las personas</p>
          <div class="m-t-30">
            <ul class="list-bordered">
              <li><a href="" class="mdl-color-text--pink" ng-click="showType('video');">
                <i class="material-icons m-r-5 f11">trending_up</i>
                Personas activas últimos 30 días
              </a></li>
              <li><a href="" class="mdl-color-text--pink" ng-click="showType('photo');">
                <i class="material-icons m-r-5 f11">trending_down</i>
                Personas inactivas por más de 60 días
              </a></li>
              <li><a href="" class="mdl-color-text--pink" ng-click="showType('');">
                <i class="material-icons m-r-5 f11">grid_on</i>
                Mostrar Todas
              </a></li>
            </ul>

            <br/>

            <div class="mdl-textfield">
              <input class="mdl-textfield__input" type="text" placeholder="Buscar por nombre o correo electrónico" data-ng-model="searchTxt" />
            </div>
            <button type="reset" class="mdl-button mdl-button--raised mdl-button--colored mdl-color--pink mdl-color-text--white mdl-js-button mdl-js-ripple-effect" ng-click="searchTxt = '';">
              Limpiar Búsqueda
            </button>
          </div>
        </div>
      </div>
    </div>
	<div class="mdl-cell mdl-cell--9-col  mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
		<table ng-table="tableParams" template-pagination="custom/pager" class="table mdl-data-table fullwidth">
            <tr ng-repeat="item in $data">
              <td class="text-left" data-title="'Nombre'" filter="{ 'name': 'text' }" sortable="'name'">{{item.name}}</td>
              <td data-title="'Número Documento'" sortable="'document-number'">{{item['document-number']}}</td>
              <td data-title="'Tipo Documento'" sortable="'document-type'">{{item['document-type']}}</td>
              <td data-title="'Correo'" sortable="'mail'">{{item.mail}}</td>
              <td data-title="'Sexo'" sortable="'gender'">{{item.gender}}</td>
              <td data-title="'Fecha nacimiento'" sortable="'birthdate'">{{item.birthdate}}</td>
              <td data-title="'Ver'"><button class="mdl-button" ng-click="viewPersonTimeline(item.id)">Ver</button></td>
            </tr>
          </table>
          <script type="text/ng-template" id="custom/pager">
            <div ng-if="params.data.length" class="ml-data-table-pager p-10">
              <div ng-if="params.settings().counts.length" class="f-right">
                <button ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="mdl-button">10</button>
                <button ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="mdl-button">25</button>
                <button ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="mdl-button">50</button>
                <button ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="mdl-button">100</button>
              </div>
              <span ng-repeat="page in pages"
                  ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                  ng-switch="page.type">
                <button ng-switch-when="prev" ng-click="params.page(page.number)" class="mdl-button">&laquo;</button>
                <button ng-switch-when="first" ng-click="params.page(page.number)" class="mdl-button"><span ng-bind="page.number"></span></button>
                <button ng-switch-when="page" ng-click="params.page(page.number)" class="mdl-button"><span ng-bind="page.number"></span></button>
                <button ng-switch-when="more" ng-click="params.page(page.number)" class="mdl-button">&#8230;</button>
                <button ng-switch-when="last" ng-click="params.page(page.number)" class="mdl-button"><span ng-bind="page.number"></span></button>
                <button ng-switch-when="next" ng-click="params.page(page.number)" class="mdl-button">&raquo;</button>
              </span>
            </div>
          </script>
	</div>
    <!--<div class="mdl-cell mdl-cell--9-col  mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">

      <div class="p-20 ml-card-holder ml-card-holder-first">

        <div id="gridWrap">
          <ul class="dynamic-grid" angular-grid="images" grid-width="350" gutter-size="20" refresh-on-img-load="true">
            <li data-ng-repeat="pic in images" class="grid">

              <div class="mdl-card mdl-shadow--0dp">
                <div class="mdl-card__title mdl-card--expand" style="background-image:url('{{pic.src}}'); min-height:200px;">
                  <h2 class="mdl-card__title-text mdl-color-text--white">{{pic.title}}</h2>
                </div>


                <div class="mdl-card__supporting-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenan convallis.
                  <div class="tags m-t-20">
                    <div class="f-right">
                      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons f18">edit</i>
                      </button>
                      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons f18 mdl-color-text--red-400">clear</i>
                      </button>
                    </div>
                    <div class="p-t-5">
                      <span data-ng-repeat="tag in pic.tags.split(',')" class="mdl-color--grey-200 radius3 inline p-5 f11 m-r-5">
                        {{tag}}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons mdl-color-text--white">more_vert</i>
                  </button>
                </div>
              </div>



            </li>
          </ul>
        </div>
      </div>
    </div>-->
  </div>
</section>
